@import "settings";
@import "util";
@import "grid";

// --------
// Header
// --------
.box-shadow() { box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .125);
}

header.header {
  .clearfix;
  .box-shadow();

  position: relative;
  z-index: 100;
  background: @color-white;
  transition: background @animation-fast, box-shadow @animation-fast;

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  &--home {
    background: transparent;
    box-shadow: none;
  }

  .container {
    .clearfix;
    padding: 0;
  }
}

.navbar-toggle {
  position: relative;
  z-index: 1;
  float: left;
  margin: 0 .5em 0 0;
  padding: 1rem;
  border: none;
  outline: none;

  font-size: 2rem;
  line-height: 2rem;
  cursor: pointer;

  background: transparent;
  color: @color-body;
  transition: background @animation-fast;

  &:hover {
    background: @color-gray-9;
  }
}

.navbar-brand {
  position: relative;
  z-index: 0;
  float: left;

  vertical-align: middle;
  font-family: "Josefin Slab", "serif";
  font-size: 2rem;
  line-height: 4rem;

  color: @color-body;
  animation-duration: @animation-slow;

  &:hover { color: @color-body; text-decoration: none; }
  * { word-wrap: break-word; }
}

nav[role=navigation] {
  .clearfix;
  clear: both;
  vertical-align: middle;
  overflow: hidden;

  ul.nav {
    .box-shadow;

    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background: @color-white;

    transition: transform @animation-normal;

    &.nav--hidden {
      transform: translateX(-100%);
    }

    li {
      display: block;
      margin: 0;
      padding: 1rem .5rem;
      text-align: center;

      a {
        display: inline-block;
        padding: .5rem;
        font-family: "Montserrat", "sans-serif";
        font-size: 1rem;
        line-height: 1rem;
        color: @color-body;

        &.nav__active { border-bottom: 2px solid @color-body; }
        &:hover {text-decoration: underline}
      }
    }
  }
}

@media screen and (min-width: @break-m) {

  header.header .container { padding: 0 2em; }

  .navbar-toggle { display: none; }

  nav[role=navigation] {
    display: inline-block;
    clear: none;
    float: right;

    ul.nav {
      display: inline-block;
      position: relative;
      &.nav--hidden { transform: none; }
      li { display: inline-block;}
    }
  }
}

.mega-brand {
  position: relative;
  box-sizing: border-box;
  min-height: @break-s;
  height: 100vh;
  padding: 6em 1em 2em;
  overflow: hidden;

  background: linear-gradient(to bottom, transparent 0%, transparent 90%, rgba(0, 0, 0, .1) 100%);

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: left;
    transform: translate(-50%, -50%);
  }

  &__header {
    font-size: .5em;
    text-align: center;

    @media screen and (min-width: @break-s) { font-size: .75em; }
    @media screen and (min-width: @break-m) { font-size: 1em; }

    h1 {
      margin: 0;
      font-family: "Josefin Slab", "serif";
      font-size: 6em;
      font-weight: normal;
    }

    #tagline {
      font-size: 3em;
    }
  }
}

/* CSS for animation typejs cursor */
@keyframes blink {
	0% { opacity: 1; }
	45% { opacity: 1; }
	50% { opacity: 0; }
	95% { opacity: 0; }
	100% { opacity: 1; }
}

.typingjs__caret {
	animation: blink 1s linear 0s infinite;
}

// --------
// Footer
// --------

@column-float: right;
footer[role=footer] {
  .row;
  margin-bottom: 1em;
  border-top: 1px solid @color-gray-9;

  .copyright { text-align: center; }

  .social h2,
  nav[role=footer-navigation] h2,
  .copyright {
    margin-top: 2rem;
  }


  @media screen and (min-width: @break-s) and (max-width: (@break-m - 1px)) {
    .social,
    nav[role=footer-navigation] {
    .column(1, 2, 2); }
    .copyright { .column(1, 1, 1); }
  }

  @media screen and (min-width: @break-m) {
    .social,
    nav[role=footer-navigation] { .column(1, 4); }

    .copyright {
      text-align: left;
      .column(2, 4);
    }
  }
}

// --------
// Alerts and errors
// --------

.alert {
  display: block;
}
