@import "settings";

body {
  margin: 0;
  padding: 0;
}

main[role=main] {
  padding-top: 4em;
  padding-bottom: 2em;

  &.content--home { padding-top: 0; }
}

.container {
  max-width: @break-l;
  margin: auto;
  padding: 0 2em;
}
