<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="<%= site_name %>">

    <title><%= assigns[:title] || default_title %></title>
    <%= if assigns[:meta] do %>
    <meta name="description" content="<%= assigns[:meta] %>" />
    <% end %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/vendor.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body <%= if @path_root == home_path(@conn, :index) |> path_root do %> class="body--home" <% end %> >
    <header role="heading" class="header header--fixed">
      <div class="container">
        <button class="navbar-toggle" type="button">&#9776;</button>
        <a class="navbar-brand" href="/"><%= site_name %></a>
        <nav class="nav-wrapper nav-wrapper--collapsed" role="navigation">
          <ul class="nav">
            <%= for item <- Enum.drop(@menu, 1) do %>
              <li class="nav__item">
                <%= if item.root == @path_root do %>
                  <a href="<%= item.path %>" class="nav__active">
                    <%= item.caption %>
                  </a>
                <% else %>
                  <a href="<%= item.path %>"><%= item.caption %></a>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer role="footer">
      <div class="container">
        <div class="footer-nav">
          <%= for item <- @menu do %>
            <div class="footer-nav__item"><a href="<%= item.path %>"><%= item.caption %></a></div>
          <% end %>
        </div>

        <span class="copyright">
          © <%= Portfolio.Utils.format_date(Ecto.Date.utc, "{YYYY}") %> <%= site_name %>
        </span>
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>
      // Initializes Highlight.js
      hljs.initHighlightingOnLoad();
    </script>

    <%# Flash Messages %>
    <%
    info = get_flash(@conn, :info)
    error = get_flash(@conn, :error)
    %>

    <%= if info || error do %>
      <section class="container container--toast animated fadeInUp">
        <%= if info do %>
          <span class="toast"><%= info %></span>
        <% end %>
        <%= if error do %>
          <span class="toast toast--error"><%= error %></span>
        <% end %>
      </section>
    <% end %>
  </body>
</html>
