.post {
  &:extend(.font-serif);
  color: @color-body;

  .post__header {
    &:extend(.font-sans-serif);
    text-align: center;

    .post__date {
      font-size: 0.95rem;
      color: lighten(@color-body, 16%);
    }

    .post__title {
      margin-top: 0;
      font-weight: bold;
    }
  }

  .post__header > .post__meta {

    > .post__author {
      margin-top: @leading / 4;
      font-style: italic;
    }

    > .post__description {
      display: none;
      margin-top: @leading / 4;
    }

    > .post__tags {

      .post__tag {
	margin-top: @leading / 2;
	margin-right: @leading / 2;
	&:last-child { margin-right: 0; }
      }
    }
  }

  > .post__separator {
    height: @leading;
    border: none;
    text-align: center;
    &:before {
      content: '•\00a0\00a0•\00a0\00a0•';
    }
  }

  > .post__body {
    h1, h2, h3, h4, h5, h6 {
      &:extend(.font-sans-serif);
    }

    pre {
      margin: @leading 0;
    }

    img {
      max-width: 100%;
    }
  }
}

.post.post--simple {
  .post__header {
    text-align: left;
    border-bottom: none;

    .post__title {
      font-size: 1.5 * @scale * 1em;
      line-height: 1.5 * @leading;
      font-weight: 400;
    }

    .post__author {
      display: none;
    }

    .post__description {
      display: block;
    }
  }

  .post__separator {
    display: none;
  }
}

.tag {
  display: inline-block;
  padding: .075em .75em;
  border-radius: 2px;

  &:extend(.font-monospace);
  font-size: 0.95rem;
  font-weight: bold;
  text-decoration: none !important;
  color: @color-white !important;

  // Background colors are set on the server.
  background-color: @color-body;
  opacity: .75;

  &:visited { opacity: .5; }
  &:focus { opacity: .9; }
  &:hover { opacity: .9; }
  &:active { opacity: 1; }
}


.tag-info {
  &:extend(.font-sans-serif);
  font-weight: bold;
}

// Post list.
.post-list {
  .post {
    margin-top: @leading * 2;

    &:first-child { margin-top: 0; }
  }
}

h1, h2, h3, h4, h5, h6, .tag-info {
  & + .post-list {
    .post:first-child {
      margin-top: @leading * 2;
    }
  }
}

// Post elements

.post span code,
.post p code,
.post ul code {
  background: @color-gray;
  padding: 1px 4px;
  border: 1px solid @color-dark-gray;
  border-radius: 2px;
}

.post pre > code {
  border-radius: 4px;
}

.post img {
  margin: @leading auto;
}

// Utilities used in posts
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Disqus
#disqus_thread {
  margin-top: @leading*2;
}
