.blog-section {
  .container--blog {
    max-width: @break-m;
  }
}

.post {
  font-family: "Droid Serif", Georgia, serif;
  font-size: 1.05rem;
  line-height: 1.6rem;
  color: @color-body;

  margin-bottom: @magic-number*2;

  .post__header {
    font-family: "Lato", sans-serif;
    margin-bottom: @magic-number*2;
    > .post__date {
      margin-bottom: @magic-number-rem/3;
      font-size: 0.9rem;
      color: lighten(@color-body, 16%);
    }
    > .post__title {
      margin-bottom: @magic-number-rem/3;
      font-size: 24em / 16;
      line-height: 24em / 24;
      font-weight: 400;
    }
  }

  .post__header--main {
    padding-bottom: @magic-number;
    text-align: center;

    > .post__title {
      font-size: 36em / 16;
      font-weight: bold;
    }

    border-bottom: 1px solid @color-gray;
  }

  .post__header > .post__meta {
    > .post__author { font-style: italic; }
    > .post__tags .post__tag {
      margin-right: .5em;
      &:last-child { margin-right: 0; }
    }
  }

  > .post__body {
    h1, h2, h3, h4, h5, h6 {
      margin-top: @magic-number * 1.25;
      margin-bottom: 1em;
      font-family: "Lato", sans-serif;
    }

    pre {
      margin: @magic-number 0;
    }

    img {
      max-width: 100%;
    }
  }
}

.tag {
  .tag-color(@color) {
    @light-color: lighten(@color, 16%);
    color: @light-color;
    &:visited { color: @light-color; }
    &:focus { color: @color; }
    &:hover { color: @color; }
    &:active { color: @light-color; }
  }

  .tag-color(@color-body);

  &--color-0 { .tag-color(@color-tag-0); }
  &--color-1 { .tag-color(@color-tag-1); }
  &--color-2 { .tag-color(@color-tag-2); }
  &--color-3 { .tag-color(@color-tag-3); }
  &--color-4 { .tag-color(@color-tag-4); }
  &--color-5 { .tag-color(@color-tag-5); }
  &--color-6 { .tag-color(@color-tag-6); }
  &--color-7 { .tag-color(@color-tag-7); }
  &--color-8 { .tag-color(@color-tag-8); }
  &--color-9 { .tag-color(@color-tag-9); }
}

.tag-info {
  font-family: "Lato", sans-serif;
  margin-bottom: @magic-number;
  font-weight: bold;
  a { font-weight: 400; }
}

// Post elements

.post span code,
.post p code,
.post ul code {
  background: @color-gray;
  padding: 1px 4px;
  border: 1px solid @color-dark-gray;
  border-radius: 2px;
}

.post pre > code {
  border-radius: 4px;
}

.post img {
  margin: @magic-number auto;
}

// Utilities used in posts
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
