<%= for post <- @posts do %>
  <%= render "_post.html", conn: @conn, post: post %>
<% end %>

<%= if assigns[:paginator] && assigns[:paginator?] do %>
  <%= render Portfolio.SharedView, "_paginator.html", paginator: @paginator, path_func: fn page_number -> %>
    <%= blog_path(@conn, :index, page: page_number) %>
  <% end %>
<% end %>

