<section class="main-section blog-section">
  <div class="container container--blog">

    <%= if not Enum.empty?(@posts) do %>
      <%= render "post-list.html", assigns %>
    <% else %>
      <p>No posts to list</p>
    <% end %>

  </div>
<section>
