// Break points
@break-s: 468px;
@break-m: 720px;
@break-l: 1024px;
@break-xl: 1280px;

// Animation speeds
@animation-very-slow: 1s;
@animation-slow: .500s;
@animation-normal: .250s;
@animation-fast: .125s;
@animation-very-fast: .1s;

// Colors
@color-white: #ffffff;
@color-light-gray: darken(@color-white, 4%);
@color-gray: darken(@color-white, 8%);
@color-dark-gray: darken(@color-white, 16%);

@color-body: #444444;
@color-link: #4078c0;
@color-link-hover: @color-link;
@color-link-visited: lighten(@color-link, 10%);

// Base Sizes
@size-h1: 2;
@size-h2: 1.5;
@size-h3: 1.17;
@size-h4: 1.12;
@size-h5: .83;
@size-h6: .75;

// Misc
@magic-number: 1.5em; // ~24px
@magic-number-rem: 1.5rem;
@golden-ratio: 1.61803398875;

// Tag colors
// from: https://material.google.com/style/color.html#color-color-palette
@color-tag-0: #F44336; // Red 500
@color-tag-1: #E91E63; // Pink 500
@color-tag-2: #673AB7; // Deep Purple 500
@color-tag-3: #9C27B0; // Purple 500
@color-tag-4: #3F51B5; // Indigo 500
@color-tag-5: #2196F3; // Blue 500
@color-tag-6: #43A047; // Green 600
@color-tag-7: #FF5722; // Deep Orange 500
@color-tag-8: #795548; // Brown 500
@color-tag-9: #607D8B; // Blue Grey 500
